html {
  font-size: 16px;
  font-family: "Geometria", "Open Sans", sans-serif;
  color: #37474f;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body.loading * {
  transition: none !important;
}
p,
a,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
a,
a * {
  transition: 0.3s;
}
i {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #a70da9;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}
input,
textarea {
  font-family: "Open Sans", sans-serif;
}
header,
nav,
main,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
body > * > div[otype] {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 12px;
  margin: 0;
}
body > * > div[otype] > div {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}
body > * > div[otype] > div.gw1,
body > * > div[otype].gw1 > div {
  max-width: calc(1280px / 12);
}
body > * > div[otype] > div.gw2,
body > * > div[otype].gw2 > div {
  max-width: calc(1280px / 12 * 2);
}
body > * > div[otype] > div.gw3,
body > * > div[otype].gw3 > div {
  max-width: calc(1280px / 12 * 3);
}
body > * > div[otype] > div.gw4,
body > * > div[otype].gw4 > div {
  max-width: calc(1280px / 12 * 4);
}
body > * > div[otype] > div.gw5,
body > * > div[otype].gw5 > div {
  max-width: calc(1280px / 12 * 5);
}
body > * > div[otype] > div.gw6,
body > * > div[otype].gw6 > div {
  max-width: calc(1280px / 12 * 6);
}
body > * > div[otype] > div.gw7,
body > * > div[otype].gw7 > div {
  max-width: calc(1280px / 12 * 7);
}
body > * > div[otype] > div.gw8,
body > * > div[otype].gw8 > div {
  max-width: calc(1280px / 12 * 8);
}
body > * > div[otype] > div.gw9,
body > * > div[otype].gw9 > div {
  max-width: calc(1280px / 12 * 9);
}
body > * > div[otype] > div.gw10,
body > * > div[otype].gw10 > div {
  max-width: calc(1280px / 12 * 10);
}
body > * > div[otype] > div.gw11,
body > * > div[otype].gw11 > div {
  max-width: calc(1280px / 12 * 11);
}
@media only screen and (max-width: calc(1280px + 24px)) {
  body > * > div[otype] > div.gw1,
  body > * > div[otype].gw1 > div {
    max-width: calc(100% / 12);
  }
  body > * > div[otype] > div.gw2,
  body > * > div[otype].gw2 > div {
    max-width: calc(100% / 12 * 2);
  }
  body > * > div[otype] > div.gw3,
  body > * > div[otype].gw3 > div {
    max-width: calc(100% / 12 * 3);
  }
  body > * > div[otype] > div.gw4,
  body > * > div[otype].gw4 > div {
    max-width: calc(100% / 12 * 4);
  }
  body > * > div[otype] > div.gw5,
  body > * > div[otype].gw5 > div {
    max-width: calc(100% / 12 * 5);
  }
  body > * > div[otype] > div.gw6,
  body > * > div[otype].gw6 > div {
    max-width: calc(100% / 12 * 6);
  }
  body > * > div[otype] > div.gw7,
  body > * > div[otype].gw7 > div {
    max-width: calc(100% / 12 * 7);
  }
  body > * > div[otype] > div.gw8,
  body > * > div[otype].gw8 > div {
    max-width: calc(100% / 12 * 8);
  }
  body > * > div[otype] > div.gw9,
  body > * > div[otype].gw9 > div {
    max-width: calc(100% / 12 * 9);
  }
  body > * > div[otype] > div.gw10,
  body > * > div[otype].gw10 > div {
    max-width: calc(100% / 12 * 10);
  }
  body > * > div[otype] > div.gw11,
  body > * > div[otype].gw11 > div {
    max-width: calc(100% / 12 * 11);
  }
}
body > * > div[otype].gw13 > div {
  max-width: none;
}
body > * > div[otype] > div.w_left,
body > * > div[otype].w_left > div {
  justify-content: flex-start;
}
body > * > div[otype] > div.w_center,
body > * > div[otype].w_center > div {
  justify-content: center;
}
body > * > div[otype] > div.w_right,
body > * > div[otype].w_right > div {
  justify-content: flex-end;
}
body > * > div[otype].w_fix_bgi {
  background-attachment: fixed;
}
body > * > div[otype].w_shadow {
  -webkit-box-shadow: 0 6px 12px 0px rgba(38, 50, 56, 0.15);
  -moz-box-shadow: 0 6px 12px 0px rgba(38, 50, 56, 0.15);
  box-shadow: 0 6px 12px 0px rgba(38, 50, 56, 0.15);
  z-index: 1;
}
body > * > div[otype] > div > div[otype] {
  width: calc(100% - 24px);
  margin: 0;
}
body > * > div[otype] > div > div[otype].w1 {
  width: calc(8.333333333333333% - 24px);
}
body > * > div[otype] > div > div[otype].w2 {
  width: calc(16.66666666666667% - 24px);
}
body > * > div[otype] > div > div[otype].w3 {
  width: calc(25% - 24px);
}
body > * > div[otype] > div > div[otype].w4 {
  width: calc(33.33333333333333% - 24px);
}
body > * > div[otype] > div > div[otype].w5 {
  width: calc(41.66666666666667% - 24px);
}
body > * > div[otype] > div > div[otype].w6 {
  width: calc(50% - 24px);
}
body > * > div[otype] > div > div[otype].w7 {
  width: calc(58.33333333333333% - 24px);
}
body > * > div[otype] > div > div[otype].w8 {
  width: calc(66.66666666666667% - 24px);
}
body > * > div[otype] > div > div[otype].w9 {
  width: calc(75% - 24px);
}
body > * > div[otype] > div > div[otype].w10 {
  width: calc(83.33333333333333% - 24px);
}
body > * > div[otype] > div > div[otype].w11 {
  width: calc(91.66666666666666% - 24px);
}
.sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.sidenav .collapsible {
  margin: 0;
}
.sidenav li {
  float: none;
  line-height: 48px;
}
.sidenav li.active {
  background-color: rgba(38, 50, 56, 0.05);
}
.sidenav li > a {
  color: rgba(38, 50, 56, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
.sidenav li > a:hover {
  background-color: rgba(38, 50, 56, 0.05);
}
.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-flat,
.sidenav li > a.btn-floating {
  margin: 10px 15px;
}
.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-floating {
  color: #fff;
}
.sidenav li > a.btn-flat {
  color: #37474f;
}
.sidenav li > a.btn:hover,
.sidenav li > a.btn-large:hover,
.sidenav li > a.btn-small:hover,
.sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}
.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}
.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(38, 50, 56, 0.54);
}
.sidenav .divider {
  margin: 8px 0 0 0;
}
.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(38, 50, 56, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}
.sidenav .subheader:hover {
  background-color: transparent;
}
.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}
.sidenav .user-view > a {
  height: auto;
  padding: 0;
}
.sidenav .user-view > a:hover {
  background-color: transparent;
}
.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
  display: block;
}
.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}
.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}
.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}
.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}
.drag-target {
  height: 100%;
  width: 8px;
  position: fixed;
  top: 0;
  z-index: 998;
}
.drag-target.right-aligned {
  right: 0;
}
.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
}
.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}
@media only screen and (max-width: 1023px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  .sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
  }
  .sidenav > a {
    padding: 0 16px;
  }
  .sidenav .user-view {
    padding: 16px 16px 0;
  }
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}
.sidenav .collapsible-body {
  padding: 0;
}
.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(38, 50, 56, 0.5);
  z-index: 997;
  display: none;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(38, 50, 56, 0.1);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}
.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}
.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}
.waves-block {
  display: block;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
.sidenav::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}
.sidenav::-webkit-scrollbar-button {
  display: none;
}
.sidenav::-webkit-scrollbar-track {
  background-color: #cfd8dc;
}
.sidenav::-webkit-scrollbar-thumb {
  background-color: #b0bec5;
}
.sidenav::-webkit-scrollbar-thumb:hover {
  background-color: #90a4ae;
}
.sidenav::-webkit-scrollbar-thumb:active {
  background-color: #78909c;
}
div.cvu-input:after {
  background: rgba(149, 183, 251, 0);
}
div.cvu-input__focused:after {
  background: rgba(149, 183, 251, 1);
}
.cvu-input > i {
  color: rgba(149, 183, 251, 0.75);
}
.cvu-input > label {
  color: rgba(96, 125, 139, 1);
}
.cvu-input > input,
.cvu-input > textarea {
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid rgba(120, 144, 156, 0.25);
  color: rgba(38, 50, 56, 1);
}
.cvu-select > span,
.cvu-input > span {
  color: rgba(244, 67, 54, 1);
}
.cvu-input__empty > label {
  color: rgba(96, 125, 139, 0.5);
}
.cvu-input__not-empty > label {
  color: rgba(96, 125, 139, 0.5);
}
.cvu-input__invalid > i {
  color: rgba(244, 67, 54, 1);
}
.cvu-input__invalid > label {
  color: rgba(244, 67, 54, 1);
}
.cvu-input__invalid > input,
.cvu-input__invalid > textarea {
  border-bottom: 1px solid rgba(244, 67, 54, 1);
}
.cvu-input__focused > i {
  color: rgba(149, 183, 251, 1);
}
.cvu-input__focused > label {
  color: rgba(96, 125, 139, 1);
}
.cvu-input__focused > input,
.cvu-input__focused > textarea {
  border-bottom: 1px solid rgba(149, 183, 251, 1);
}
.cvu_feed .custom-text i,
.cvu_feed .custom-text h2,
.cvu_feed .custom-text h4 {
  color: rgba(96, 125, 139, 1);
}
.cvu_feed .custom-text h5 {
  color: rgba(38, 50, 56, 1);
}
.cvu_feed .custom-text p {
  color: rgba(38, 50, 56, 1);
}
.cvu_submit {
  border: 1px solid rgba(149, 183, 251, 1);
}
.cvu_submit:hover {
  background: rgba(149, 183, 251, 1);
}
.cvu_submit > i {
  color: rgba(149, 183, 251, 1);
}
.cvu_submit > span {
  color: rgba(149, 183, 251, 1);
}
.cvu_feed .success-text i {
  color: rgba(149, 183, 251, 1);
}
.cvu_feed .success-text p:nth-child(2) {
  color: rgba(38, 50, 56, 1);
}
.cvu_feed .success-text p:nth-child(3) {
  color: rgba(149, 183, 251, 1);
}
.cvu_feed .success-text p:nth-child(4) {
  color: rgba(96, 125, 139, 1);
}
@media only screen and (max-width: 1023px) {
  body > * > div[otype] > div.gw1,
  body > * > div[otype].gw1 > div,
  body > * > div[otype] > div.gw2,
  body > * > div[otype].gw2 > div,
  body > * > div[otype] > div.gw3,
  body > * > div[otype].gw3 > div,
  body > * > div[otype] > div.gw4,
  body > * > div[otype].gw4 > div,
  body > * > div[otype] > div.gw5,
  body > * > div[otype].gw5 > div,
  body > * > div[otype] > div.gw6,
  body > * > div[otype].gw6 > div,
  body > * > div[otype] > div.gw7,
  body > * > div[otype].gw7 > div,
  body > * > div[otype] > div.gw8,
  body > * > div[otype].gw8 > div,
  body > * > div[otype] > div.gw9,
  body > * > div[otype].gw9 > div,
  body > * > div[otype] > div.gw10,
  body > * > div[otype].gw10 > div,
  body > * > div[otype] > div.gw11,
  body > * > div[otype].gw11 > div,
  body > * > div[otype] > div.gw12,
  body > * > div[otype].gw12 > div,
  body > * > div[otype] > div.gw13,
  body > * > div[otype].gw13 > div,
  body > * > div[otype] > div.gm12 {
    max-width: calc(100%);
  }
  body > * > div[otype] > div.gm1,
  body > * > div[otype].gm1 > div {
    max-width: calc(100% / 12);
  }
  body > * > div[otype] > div.gm2,
  body > * > div[otype].gm2 > div {
    max-width: calc(100% / 12 * 2);
  }
  body > * > div[otype] > div.gm3,
  body > * > div[otype].gm3 > div {
    max-width: calc(100% / 12 * 3);
  }
  body > * > div[otype] > div.gm4,
  body > * > div[otype].gm4 > div {
    max-width: calc(100% / 12 * 4);
  }
  body > * > div[otype] > div.gm5,
  body > * > div[otype].gm5 > div {
    max-width: calc(100% / 12 * 5);
  }
  body > * > div[otype] > div.gm6,
  body > * > div[otype].gm6 > div {
    max-width: calc(100% / 12 * 6);
  }
  body > * > div[otype] > div.gm7,
  body > * > div[otype].gm7 > div {
    max-width: calc(100% / 12 * 7);
  }
  body > * > div[otype] > div.gm8,
  body > * > div[otype].gm8 > div {
    max-width: calc(100% / 12 * 8);
  }
  body > * > div[otype] > div.gm9,
  body > * > div[otype].gm9 > div {
    max-width: calc(100% / 12 * 9);
  }
  body > * > div[otype] > div.gm10,
  body > * > div[otype].gm10 > div {
    max-width: calc(100% / 12 * 10);
  }
  body > * > div[otype] > div.gm11,
  body > * > div[otype].gm11 > div {
    max-width: calc(100% / 12 * 11);
  }
  body > * > div[otype] > div > div[otype].w1,
  body > * > div[otype] > div > div[otype].w2,
  body > * > div[otype] > div > div[otype].w3,
  body > * > div[otype] > div > div[otype].w4,
  body > * > div[otype] > div > div[otype].w5,
  body > * > div[otype] > div > div[otype].w6,
  body > * > div[otype] > div > div[otype].w7,
  body > * > div[otype] > div > div[otype].w8,
  body > * > div[otype] > div > div[otype].w9,
  body > * > div[otype] > div > div[otype].w10,
  body > * > div[otype] > div > div[otype].w11,
  body > * > div[otype] > div > div[otype].w12,
  body > * > div[otype] > div > div[otype].m12 {
    width: calc(100% - 24px);
  }
  body > * > div[otype] > div > div[otype].m1 {
    width: calc(8.333333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].m2 {
    width: calc(16.66666666666667% - 24px);
  }
  body > * > div[otype] > div > div[otype].m3 {
    width: calc(25% - 24px);
  }
  body > * > div[otype] > div > div[otype].m4 {
    width: calc(33.33333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].m5 {
    width: calc(41.66666666666667% - 24px);
  }
  body > * > div[otype] > div > div[otype].m6 {
    width: calc(50% - 24px);
  }
  body > * > div[otype] > div > div[otype].m7 {
    width: calc(58.33333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].m8 {
    width: calc(66.66666666666667% - 24px);
  }
  body > * > div[otype] > div > div[otype].m9 {
    width: calc(75% - 24px);
  }
  body > * > div[otype] > div > div[otype].m10 {
    width: calc(83.33333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].m11 {
    width: calc(91.66666666666666% - 24px);
  }
}
@media only screen and (max-width: 767px) {
  body > * > div[otype] > div.gw1,
  body > * > div[otype].gw1 > div,
  body > * > div[otype] > div.gw2,
  body > * > div[otype].gw2 > div,
  body > * > div[otype] > div.gw3,
  body > * > div[otype].gw3 > div,
  body > * > div[otype] > div.gw4,
  body > * > div[otype].gw4 > div,
  body > * > div[otype] > div.gw5,
  body > * > div[otype].gw5 > div,
  body > * > div[otype] > div.gw6,
  body > * > div[otype].gw6 > div,
  body > * > div[otype] > div.gw7,
  body > * > div[otype].gw7 > div,
  body > * > div[otype] > div.gw8,
  body > * > div[otype].gw8 > div,
  body > * > div[otype] > div.gw9,
  body > * > div[otype].gw9 > div,
  body > * > div[otype] > div.gw10,
  body > * > div[otype].gw10 > div,
  body > * > div[otype] > div.gw11,
  body > * > div[otype].gw11 > div,
  body > * > div[otype] > div.gw12,
  body > * > div[otype].gw12 > div,
  body > * > div[otype] > div.gw13,
  body > * > div[otype].gw13 > div,
  body > * > div[otype] > div.gm1,
  body > * > div[otype].gm1 > div,
  body > * > div[otype] > div.gm2,
  body > * > div[otype].gm2 > div,
  body > * > div[otype] > div.gm3,
  body > * > div[otype].gm3 > div,
  body > * > div[otype] > div.gm4,
  body > * > div[otype].gm4 > div,
  body > * > div[otype] > div.gm5,
  body > * > div[otype].gm5 > div,
  body > * > div[otype] > div.gm6,
  body > * > div[otype].gm6 > div,
  body > * > div[otype] > div.gm7,
  body > * > div[otype].gm7 > div,
  body > * > div[otype] > div.gm8,
  body > * > div[otype].gm8 > div,
  body > * > div[otype] > div.gm9,
  body > * > div[otype].gm9 > div,
  body > * > div[otype] > div.gm10,
  body > * > div[otype].gm10 > div,
  body > * > div[otype] > div.gm11,
  body > * > div[otype].gm11 > div,
  body > * > div[otype] > div.gm12,
  body > * > div[otype].gm12 > div,
  body > * > div[otype] > div.gs12,
  body > * > div[otype].gs12 > div {
    max-width: calc(100%);
  }
  body > * > div[otype] > div.gs1,
  body > * > div[otype].gs1 > div {
    max-width: calc(100% / 12);
  }
  body > * > div[otype] > div.gs2,
  body > * > div[otype].gs2 > div {
    max-width: calc(100% / 12 * 2);
  }
  body > * > div[otype] > div.gs3,
  body > * > div[otype].gs3 > div {
    max-width: calc(100% / 12 * 3);
  }
  body > * > div[otype] > div.gs4,
  body > * > div[otype].gs4 > div {
    max-width: calc(100% / 12 * 4);
  }
  body > * > div[otype] > div.gs5,
  body > * > div[otype].gs5 > div {
    max-width: calc(100% / 12 * 5);
  }
  body > * > div[otype] > div.gs6,
  body > * > div[otype].gs6 > div {
    max-width: calc(100% / 12 * 6);
  }
  body > * > div[otype] > div.gs7,
  body > * > div[otype].gs7 > div {
    max-width: calc(100% / 12 * 7);
  }
  body > * > div[otype] > div.gs8,
  body > * > div[otype].gs8 > div {
    max-width: calc(100% / 12 * 8);
  }
  body > * > div[otype] > div.gs9,
  body > * > div[otype].gs9 > div {
    max-width: calc(100% / 12 * 9);
  }
  body > * > div[otype] > div.gs10,
  body > * > div[otype].gs10 > div {
    max-width: calc(100% / 12 * 10);
  }
  body > * > div[otype] > div.gs11,
  body > * > div[otype].gs11 > div {
    max-width: calc(100% / 12 * 11);
  }
  body > * > div[otype] > div > div[otype].w1,
  body > * > div[otype] > div > div[otype].w2,
  body > * > div[otype] > div > div[otype].w3,
  body > * > div[otype] > div > div[otype].w4,
  body > * > div[otype] > div > div[otype].w5,
  body > * > div[otype] > div > div[otype].w6,
  body > * > div[otype] > div > div[otype].w7,
  body > * > div[otype] > div > div[otype].w8,
  body > * > div[otype] > div > div[otype].w9,
  body > * > div[otype] > div > div[otype].w10,
  body > * > div[otype] > div > div[otype].w11,
  body > * > div[otype] > div > div[otype].w12,
  body > * > div[otype] > div > div[otype].m1,
  body > * > div[otype] > div > div[otype].m2,
  body > * > div[otype] > div > div[otype].m3,
  body > * > div[otype] > div > div[otype].m4,
  body > * > div[otype] > div > div[otype].m5,
  body > * > div[otype] > div > div[otype].m6,
  body > * > div[otype] > div > div[otype].m7,
  body > * > div[otype] > div > div[otype].m8,
  body > * > div[otype] > div > div[otype].m9,
  body > * > div[otype] > div > div[otype].m10,
  body > * > div[otype] > div > div[otype].m11,
  body > * > div[otype] > div > div[otype].m12,
  body > * > div[otype] > div > div[otype].s12 {
    width: calc(100% - 24px);
  }
  body > * > div[otype] > div > div[otype].s1 {
    width: calc(8.333333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].s2 {
    width: calc(16.66666666666667% - 24px);
  }
  body > * > div[otype] > div > div[otype].s3 {
    width: calc(25% - 24px);
  }
  body > * > div[otype] > div > div[otype].s4 {
    width: calc(33.33333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].s5 {
    width: calc(41.66666666666667% - 24px);
  }
  body > * > div[otype] > div > div[otype].s6 {
    width: calc(50% - 24px);
  }
  body > * > div[otype] > div > div[otype].s7 {
    width: calc(58.33333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].s8 {
    width: calc(66.66666666666667% - 24px);
  }
  body > * > div[otype] > div > div[otype].s9 {
    width: calc(75% - 24px);
  }
  body > * > div[otype] > div > div[otype].s10 {
    width: calc(83.33333333333333% - 24px);
  }
  body > * > div[otype] > div > div[otype].s11 {
    width: calc(91.66666666666666% - 24px);
  }
}
header {
  position: relative;
  background: url(../d/i/hbg.png) center bottom repeat-x #486e71;
}
body > header > div[otype] {
  padding: 0 12px;
}
body > header > div[otype] > div > div[otype] {
  padding: 0 12px;
  position: relative;
  height: 133px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
header [otype] [otype] div,
header a {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header a i {
  color: #95b7fb;
}
header a p {
  font-size: 12px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  color: #37474f;
  border-bottom: 1px solid #37474f;
  white-space: nowrap;
}
header a:hover p {
  color: #a70da9;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
header #logo {
  position: absolute;
  justify-content: center;
  top: 0;
  left: calc(50% - 312px / 2);
  width: 312px;
  height: 180px;

  padding: 0;
}
header #logo a {
  width: 160px;
  height: 130px;
  justify-content: center;
}
header #logo img {
  width: 100%;
}
header .phone {
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 50px;
}
header #phone_uk {
  flex-direction: row-reverse;
  justify-content: flex-end;
  right: calc(50% + 134px);
}
header #phone_de {
  flex-direction: row;
  justify-content: flex-start;
  left: calc(50% + 134px);
}
header .phone > p {
  height: 32px;
  display: flex;
  align-items: center;
  opacity: 0.25;
}
header .phone > p img {
  width: 102px;
  height: 55px;
}
header #phone_de > p img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
header .phone > span {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
header .phone#phone_uk > span {
  letter-spacing: 6px;
  margin: 0 0 0 40px;
}
header .phone#phone_de > span {
  margin: 0 40px 0 0;
}
header .phone > a {
  font-size: 19px;
  font-weight: 400;
  color: #f89f47f2;
}
header .phone#phone_de > a {
  color: #f89f47f2;
}
header .phone > a:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}
header #h_messengers {
  position: absolute;
  top: 26px;
  left: calc(50% + 626px);
  width: 72px;
  height: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
header #h_messengers > a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #h_messengers > a img {
  width: 24px;
  height: 24px;
}
header #h_messengers > a.h_social img {
  filter: grayscale(100%) brightness(300%);
  -webkit-filter: grayscale(100%) brightness(300%);
  -moz-filter: grayscale(100%) brightness(300%);
}
header #h_messengers > a.h_social:hover img {
  filter: grayscale(0%) brightness(100%);
  -webkit-filter: grayscale(0%) brightness(100%);
  -moz-filter: grayscale(0%) brightness(100%);
}
header #h_messengers > a.h_messenger img {
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
  -moz-filter: brightness(150%);
}
header #h_messengers > a.h_messenger:hover img {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
}
header .h_nav {
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 90px;
  height: 28px;
}
header #h_nav_left {
  justify-content: flex-end;
  right: calc(50% + 148px);
}
header #h_nav_right {
  justify-content: flex-start;
  left: calc(50% + 148px);
}
header .h_nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
header .h_nav > a:hover {
  color: #fff;
}
header .h_nav > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

header .h_contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  left: unset;
  right: 14px;
  width: 144px;
  top: 48px;
  position: absolute;
}

header .h_contacts a {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

header .h_contacts a:hover {
  font-weight: 400;
}

@media only screen and (max-width: 1424px) {
  header #h_messengers {
    width: 130px;
    height: 36px;
    top: 12px;
    left: unset;
    right: 12px;
  }
}
@media only screen and (max-width: 1279px) {
  header .phone {
    flex-wrap: wrap;
    top: 30px;
    width: 300px;
  }
  header .phone > span {
    font-size: 18px;
  }
  header .phone > p {
    margin: 0 0 -22px 0;
  }
  header .phone > a {
    font-size: 16px;
  }
  header .phone#phone_uk {
    justify-content: flex-start;
  }
  header .phone#phone_uk > a {
    margin: 0 108px 0 0;
  }
  header .phone#phone_de > a {
    margin: 0 0 0 102px;
  }
  header .phone#phone_uk > span {
    margin: 0;
  }
  header .phone#phone_de > span {
    margin: 0;
  }
  header #h_messengers {
    right: 2px;
  }
}
@media only screen and (max-width: 1099px) {
  header .h_nav {
    display: none !important;
  }

  header .h_contacts {
    justify-content: right;
    height: 34px;
  }

  header .h_contacts a {
    align-items: right;
    font-size: 13px;
    height: 30px;
  }

  header .phone {
    top: 68px;
  }
}
@media only screen and (max-width: 879px) {
  header #logo {
    left: calc(50% - 220px / 2);
    width: 220px;
    height: 153px;
    background-size: contain;
  }
  header #logo a {
    width: 104px;
    height: 104px;
    margin: 10px 0 0 0;
  }
  header .phone {
    top: 44px;
    width: 166px;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  header .phone#phone_uk {
    align-items: flex-end !important;
  }
  header .phone > p {
    height: 28px;
    margin: 0;
  }
  header .phone#phone_uk > p {
    margin: 0 -4px 0 0;
  }
  header .phone#phone_de > p {
    margin: 0 0 0 -4px;
  }
  header .phone > p img {
    width: 41px;
    height: auto;
  }
  header .phone#phone_uk > span {
    margin: 0 -15px 0 0;
  }
  header .phone#phone_de > span {
    margin: 0 0 0 -10px;
  }
  header .phone > a {
    white-space: nowrap;
  }
  header .phone#phone_uk > a {
    margin: 0 -24px 0 0 !important;
  }
  header .phone#phone_de > a {
    margin: 0 0 0 -24px !important;
  }
}
@media only screen and (max-width: 669px) {
  header #h_messengers {
    width: auto;
    height: auto;
    flex-wrap: nowrap;
  }
  header #h_messengers > a {
    width: 28px;
    height: 24px;
  }
  header #h_messengers > a img {
    width: 18px;
    height: 18px;
  }
}
@media only screen and (max-width: 579px) {
  body > header > div[otype] > div > div[otype] {
    height: 186px;
  }
  header .phone {
    top: 104px;
    width: auto;
  }
  header #phone_uk {
    right: calc(50% + 100px);
  }
  header #phone_de {
    left: calc(50% + 100px);
  }
  header .phone#phone_uk > span {
    margin: 0 -35px 0 0;
    font-size: 14px;
    letter-spacing: 3px;
  }
  header .phone#phone_de > span {
    margin: 0 0 0 -30px;
    font-size: 14px;
  }
  header .phone#phone_uk > a {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 0 -69px 0 0 !important;
  }
  header .phone#phone_de > a {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 0 0 0 -74px !important;
  }
}
@media only screen and (max-width: 339px) {
  header #phone_uk {
    right: calc(50% + 80px);
  }
  header #phone_de {
    left: calc(50% + 80px);
  }
}
nav {
  display: none;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 6px;
  left: 8px;
  z-index: 99;
}
body > nav > div[otype] {
  width: 100%;
  height: 100%;
  padding: 0;
}
body > nav > div[otype] > div > div[otype] {
  width: 100%;
  height: 100%;
  padding: 0;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  flex-shrink: 0;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}
.hamburger {
  margin: auto;
  position: relative;
  width: 36px;
  height: 24px;
  padding: 0;
  margin: 0;
}
.hamburger p {
  display: block;
  position: absolute;
  height: 4px;
  width: 36px;
  border-radius: 4px;
  left: 0;
  background: rgba(255, 255, 255, 1);
  transform-origin: 0 50%;
  transition: 0.3s;
}
.menu:hover .hamburger p {
  background: rgba(255, 255, 255, 1);
}
.hamburger p:first-child {
  top: 0px;
  transform: scaleX(1);
  opacity: 1;
}
.hamburger p:nth-child(2) {
  top: 10px;
  transform: scaleX(1);
  opacity: 1;
}
.hamburger p:last-child {
  top: 20px;
  transform: scaleX(1);
  opacity: 1;
}
.hamburger:hover {
  cursor: pointer;
}
.menu:hover .hamburger p {
  background: #ffc0ff;
  animation: menu-hover 0.3s forwards cubic-bezier(0, 0, 0.2, 1) 1;
  animation-delay: 0.1s;
}
.menu:hover .hamburger p:nth-child(2) {
  animation-delay: 0.2s;
}
.menu:hover .hamburger p:last-child {
  animation-delay: 0.3s;
}
@keyframes menu-hover {
  60% {
    transform: scaleX(1.3);
  }
  100% {
    transform: scaleX(1);
  }
}
@media only screen and (max-width: 1099px) {
  nav {
    display: flex;
  }
}
#breadcrumbs #breadcrumbs_path {
  order: 1;
  margin: 8px 0 0 0;
}
#breadcrumbs #current_page {
  order: 2;
  margin: 0;
}
main {
  background: #fff;
  margin-bottom: auto;
  min-height: 400px;
  justify-content: flex-start;
}
body.prefixed-header main {
  margin-top: 64px;
}
body > * > div[otype]#breadcrumbs {
  background: #fff;
  z-index: 97;
}
body > * > div[otype]#breadcrumbs > div > div[otype] {
  padding: 4px 12px;
}
#breadcrumbs #current_page {
  flex: 0 0 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
#breadcrumbs #current_page > h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  color: #a70da9;
  margin: 0;
  padding: 0;
  text-align: left;
}
#breadcrumbs #breadcrumbs_path {
  display: flex;
  flex-wrap: wrap;
}
#breadcrumbs #breadcrumbs_path > a {
  position: relative;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(84, 110, 122, 0.5);
  border-bottom: 1px solid rgba(84, 110, 122, 0.25);
  margin: 0 24px 8px 0;
}
#breadcrumbs #breadcrumbs_path > a:hover {
  color: #95b7fb;
  border-bottom: 1px solid transparent;
}
#breadcrumbs #breadcrumbs_path > a:after {
  content: "/";
  top: 0;
  right: -15px;
  position: absolute;
  font-size: 12px;
  color: rgba(84, 110, 122, 0.25);
}
footer {
  background: #486e71;
}
footer > div div,
footer a {
  display: flex;
  align-items: flex-start;
}
footer a i {
  color: rgba(255, 255, 255, 0.6);
}
footer a p {
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  border-bottom: none;
}
footer a:hover p {
  color: rgba(255, 255, 255, 1);
  transition: 0.15s;
}
body > footer > div[otype] {
  width: 100%;
  padding: 0;
}
body > footer > div[otype] > div > div[otype] {
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}
footer #footer_copyright {
  width: calc(100% - 48px);
  padding: 16px 24px;
  margin: 0;
  justify-content: center;
}
footer #footer_copyright div {
  width: 100%;
  max-width: calc(1280px - 48px);
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer #footer_copyright p {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
  margin: 0 12px;
  text-align: center;
  align-self: center;
}
footer #footer_copyright p strong {
  font-weight: 300;
}
#olymp-up {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.625rem 1.25rem rgba(38, 50, 56, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  opacity: 0;
  bottom: -4rem;
  right: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
  transition: all 0.15s 0s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#olymp-up.show {
  bottom: 2rem;
  opacity: 0.55;
}
#olymp-up:hover {
  opacity: 1;
  background: #95b7fb;
  transition: all 0.3s 0.15s ease-in;
}
#olymp-up i {
  color: #95b7fb;
  transform: rotate(-90deg);
  transition: all 0.15s 0s ease-out;
}
#olymp-up:hover i {
  color: #fff;
  transition: all 0.3s 0.15s ease-in;
}
.sidenav {
  max-height: 100%;
}
.sidenav > *:last-child {
  margin: 0 0 48px 0;
}
.sidenav li#sidenav_head {
  height: 133px;
  background: url(../d/i/hr2.png) repeat-x bottom left #486e71;
  display: flex;
  margin: 0 0 12px 0;
}
.sidenav li#sidenav_head #sn_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sidenav li#sidenav_head #sn_logo > a > img {
  width: 120px;
}
.sidenav li > a {
  color: #333333;
}
.sidenav li > a > i {
  color: #ff942a;
}
.sidenav li > a:hover {
  color: #fff;
  background: #ff942a;
}
.sidenav li > a:hover > i {
  color: #fff;
}
.sidenav li > a > i.dropdown-icon {
  position: absolute;
  top: 0;
  right: 8px;
  margin: 0;
  transition: 0.3s;
}
.sidenav li > a.expanded {
  background: #a70da9;
  color: #fff;
}
.sidenav li > a.expanded > i {
  color: #fff;
}
.sidenav li > a.expanded > i.dropdown-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sidenav .dropdown-content {
  position: relative !important;
  padding: 0;
  margin: 0;
  top: 0 !important;
  overflow-x: hidden;
  opacity: 1 !important;
  width: 100% !important;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border-bottom: 1px solid #eceff1;
}
.sidenav .dropdown-content li {
  border: none;
  min-height: unset;
  padding: 0;
  margin: 0;
  line-height: 1.12;
}
.sidenav .dropdown-content li a {
  font-size: 13px;
  font-weight: 400;
  padding: 8px 20px 8px 88px;
  width: calc(100% - 108px);
  white-space: normal;
  text-transform: none;
  line-height: 1.12;
  background: #eceff1;
  border-top: 1px solid #fff;
  min-height: unset;
  height: auto;
}
.sidenav .dropdown-content li a:hover {
  background: #fff;
  color: #a70da9;
}
.sidenav li.booking > a {
  background: #e8f5e9;
}
.sidenav li.booking > a:hover {
  background: #a70da9;
}
.sidenav li.booking > a > i {
  color: #4caf50;
}
.sidenav li.booking > a:hover > i {
  color: #fff;
}
.sidenav li#sidenav_user {
  background: #a70da9;
}
.sidenav li#sidenav_user > a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #fff;
}
.sidenav li#sidenav_user > a:hover {
  background: rgba(255, 255, 255, 0.25);
}
.sidenav li#sidenav_user > a > p {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin: 7px 12px 7px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #fff;
  color: #a70da9;
}
.sidenav li#sidenav_user > a > b {
  flex: 1 1 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin: 12px 0;
  color: #fff;
}
.sidenav li#sidenav_user > a > i {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 8px;
  color: rgba(255, 255, 255, 0.75);
}
.sidenav li#sidenav_user > a:hover > i {
  color: rgba(255, 255, 255, 1);
}
.sidenav li#sidenav_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 12px 0;
  box-shadow: 0 2px 4px -1px rgba(38, 50, 56, 0.1),
    0 4px 5px 0 rgba(38, 50, 56, 0.07), 0 1px 10px 0 rgba(38, 50, 56, 0.06);
  border-top: 3px solid #a70da9;
}
.sidenav li#sidenav_nav > a {
  width: 99px;
  min-width: 99px;
  flex: 0 0 99px;
  background: #eceff1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 12px 0;
  border-right: 1px solid #fff;
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.sidenav li#sidenav_nav > a:hover {
  background: #a70da9;
}
.sidenav li#sidenav_nav > a:last-child {
  width: 100px;
  min-width: 100px;
  flex: 0 0 100px;
  border-right: none;
}
.sidenav li#sidenav_nav > a > i {
  margin: 0 0 12px 0;
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  color: #a70da9;
}
.sidenav li#sidenav_nav > a > p {
  font-size: 10px;
  text-transform: uppercase;
  color: #37474f;
}
.sidenav li#sidenav_nav > a:hover > i,
.sidenav li#sidenav_nav > a:hover > p {
  color: #fff;
}
.sidenav li#sidenav_nav > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #4caf50;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.5px;
  width: auto;
  height: 20px;
  min-width: 16px;
  text-align: center;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 4px 0 0 54px;
  padding: 0 2px;
  border: 2px solid #eceff1;
}
.sidenav li#sidenav_nav > a:hover > div {
  background: #fff;
  color: #4caf50;
  border: 2px solid #a70da9;
}
.sidenav .sn_title {
  display: flex;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #37474f;
}
.sidenav .sn_title i {
  width: 24px;
  font-size: 24px;
  color: #a70da9;
  margin: 0 32px;
  opacity: 0.5;
}
.sidenav #sn_phones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 2px dotted #eceff1;
  margin: 18px 0;
}
.sidenav #sn_phones .sn_title i {
  color: #1a49a7;
}
.sidenav #sn_phones a {
  display: flex;
  padding: 0;
  margin: -12px 0 0 88px;
  width: auto;
  height: auto;
  line-height: 1;
  background: transparent !important;
}
.sidenav #sn_phones a + a {
  margin: 4px 0 0 88px;
}
.sidenav #sn_phones a > p {
  font-size: 17px !important;
  line-height: 24px !important;
  font-weight: 400;
}
.sidenav #sn_phones a > p:first-child {
  color: #ff942a;
  margin: 0 6px 0 0;
}
.sidenav #sn_phones a > p:last-child {
  color: #455a64;
  font-weight: 700;
}
.sidenav #sn_phones a:hover > p:first-child {
  color: #1a49a7;
}
.sidenav #sn_phones a:hover > p:last-child {
  color: #1a49a7;
}
.sidenav #sn_phones a#sn_callback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 8px 0 0 104px;
  width: auto;
  height: auto;
  line-height: 1;
  background: transparent !important;
}
.sidenav #sn_phones a#sn_callback > p {
  font-size: 11px !important;
  line-height: 1 !important;
  font-weight: 400;
  text-transform: uppercase;
  color: #455a64;
  border-bottom: 1px solid #b0bec5;
}
.sidenav #sn_phones a#sn_callback:hover > p {
  color: #a70da9;
  border-bottom: 1px solid transparent;
}
.sidenav #sn_phones a#sn_callback > i {
  color: #a70da9 !important;
  margin: -1px 6px 0 0;
  line-height: 1 !important;
  height: auto !important;
  opacity: 0.5;
}
.sidenav #sn_phones a#sn_callback:hover > i {
  opacity: 1;
}
.sidenav #sn_langs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 2px dotted #eceff1;
  margin: 18px 0;
}
.sidenav #sn_langs .sn_title i {
  color: #1a49a7;
}
.sidenav #sn_langs div {
  display: flex;
  flex-direction: row;
  margin: -8px 0 0 84px;
}
.sidenav #sn_langs div * {
  display: flex;
  padding: 0;
  margin: 0;
  width: auto;
  line-height: 24px;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 0 4px;
  padding: 8px 18px;
}
.sidenav #sn_langs div a {
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #546e7a;
}
.sidenav #sn_langs div a:hover {
  border: 1px solid #95b7fb;
  color: #37474f;
  background: #eceff1;
}
.sidenav li#sn_langs div span {
  border: 1px solid #95b7fb;
  background: #95b7fb;
  color: #fff;
}
.sidenav #sn_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 2px dotted #eceff1;
  border-bottom: 2px dotted #eceff1;
  margin: 12px 0 32px 0;
}
.sidenav #sn_social .sn_title i {
  color: #1a49a7;
}
.sidenav #sn_social div {
  display: flex;
  flex-direction: column;
  margin: -8px 0 18px 84px;
}
.sidenav #sn_social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1;
  background: transparent !important;
  font-size: 11px !important;
  line-height: 1 !important;
  font-weight: 400;
  text-transform: uppercase;
  color: #455a64;
}
.sidenav #sn_social a:hover {
  color: #a70da9;
}
.sidenav #sn_social a > img {
  width: 24px;
  height: 24px;
  margin: 6px 12px 6px 0;
  opacity: 0.75;
}
.sidenav #sn_social a:hover > img {
  opacity: 1;
  transition: 0.3s;
}
