/* -------------------------------------------------------------------------- */
.ol-article {
  font-family: "Geometria", "Open Sans", sans-serif !important;
}
/* -------------------------------------------------------------------------- */
#cid23 {
  max-width: 880px;
  margin: 0 auto;
}
/* -------------------------------------------------------------------------- */
div[otype="article"].black {
  background-color: #486e71;
  position: relative;
}
div[otype="article"].black:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: url(../d/i/hr.png) repeat-x transparent;
}
div[otype="article"].black [otype="header"] > div > *:first-child {
  color: whitesmoke;
  font-weight: 400;
  text-shadow: #5b9397 0px 0px 1px, #5b9397 0px 0px 2px, #5b9397 0px 0px 3px,
    #5b9397 0px 0px 4px, #5b9397 0px 0px 6px;
}
div[otype="article"].black [otype="header"] > div > p {
  color: rgba(255, 255, 255, 0.75);
}
div[otype="article"].black .ol-article {
  color: rgba(255, 255, 255, 0.75);
}
/* -------------------------------------------------------------------------- */
#cid18 {
  margin-bottom: -24px;
  padding-top: 24px;
}
#cid20 [otype="advantage"] > p i {
  color: #fcad05;
}
#cid20 [otype="advantage"] > p i + i {
  color: rgba(255, 255, 255, 0.75);
}
#cid20 [otype="advantage"] > b {
  color: #078fff;
}
#cid20 [otype="advantage"] > span {
  color: rgba(255, 255, 255, 0.75);
}
/* -------------------------------------------------------------------------- */
#cid37 .ol-table table thead tr {
  background: #1a49a7;
}
#cid36 tr:not(:first-child):not(:last-child),
#cid37 tr:not(:first-child):not(:last-child) {
  height: auto !important;
}
#cid36 tr:not(:first-child):not(:last-child) td,
#cid37 tr:not(:first-child):not(:last-child) td {
  font-size: 12px;
  height: auto !important;
  padding: 2px 8px;
}
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 1549px) {
  #cid23 {
    max-width: calc(100% - 460px);
  }
}
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 969px) {
  #cid23 {
    max-width: calc(100% - 230px);
  }
}
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 649px) {
  #cid23 {
    max-width: unset;
    margin: 68px 0 0 0;
  }
}
/* -------------------------------------------------------------------------- */
@keyframes ftrub {
  0% {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px rgba(149, 183, 251, 0.7);
  }
  50% {
    transform: scale(0.9) rotate(146deg);
    box-shadow: 0 0 0 30px rgba(149, 183, 251, 0);
  }
  80%,
  100% {
    transform: scale(1.1);
  }
}
.cvu_button-top {
  cursor: pointer;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(149, 183, 251, 0.26);
  background-clip: padding-box;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background: rgba(149, 183, 251, 1);
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 56px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  position: fixed;
  left: 1.8rem;
  bottom: 2rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: #fff;
  animation: ftrub 2s infinite;
  z-index: 100000;
}
.cvu_button-top:hover {
  background: rgba(149, 183, 251, 0.75);
  transition: 0.3s;
}
.cvu_button-top:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.cvu_button-top:before {
  content: "";
  display: none;
  position: absolute;
  border-radius: 50%;
  border: rgba(149, 183, 251, 0.6) solid 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.cvu_button-top:active:before {
  display: inline-block;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  opacity: 0.45;
  animation: click-btn 0.5s 1;
}
@keyframes click-btn {
  0% {
    opacity: 0.45;
  }
  100% {
    opacity: 0;
  }
}
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  -webkit-animation: rippleDrop 0.6s linear;
  animation: rippleDrop 0.6s linear;
}
@-webkit-keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
/* -------------------------------------------------------------------------- */
